.textContainer {
    padding: 5px;
    
}
.mainContainer {
    box-shadow: 5px 5px 13px -1px rgba(185, 185, 200, 1);
    background-color: hsl(0, 0%, 100%);
    margin: 0 auto;
    width: 375px;
    text-align: center;
    border: 20px solid hsl(0, 0%, 100%);
    border-radius: 20px;
}
.textContainer__paragraph {
    font-size: 19px;
    color: hsl(212, 45%, 77%);
    
}
.qrcode {
    border-radius: 20px;
    height: auto;
    width: 100%;

}
.textContainer__header {
    font-size: 28px;
}

@media (max-width: 375px) {
    .mainContainer {
        width: 345px;
        margin: 20px;
    }
}